In [16]:
from sklearn.datasets import fetch_california_housing
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
data = fetch_california_housing(as_frame=True, data_home='./temp_data')
df = data.frame
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [17]:
#df['Income_log'] = np.log(df['Income'] + 1)

In [18]:
df = pd.read_csv("healthcare-dataset-stroke-data.csv")
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [19]:
df.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [20]:
df['bmi'] = df['bmi'].fillna(df['bmi'].median())

In [21]:
df.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [22]:
scaler = StandardScaler()  #scaling numeric features
df[['age','avg_glucose_level','bmi']] = scaler.fit_transform(df[['age','avg_glucose_level','bmi']])

In [23]:
df['glucose_log'] = np.log(df['avg_glucose_level'] + 1) #handling skewness

/mnt/optdata/anaconda3/envs/eda_env/lib/python3.12/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [24]:
df = pd.get_dummies(df, drop_first=True)

In [25]:
df['age_risk'] = df['age'].apply(lambda x: 1 if x > 60 else 0)
df['bmi_obese'] = df['bmi'].apply(lambda x: 1 if x > 30 else 0)

In [26]:
df['hypertension_glucose'] = df['hypertension'] * df['glucose_log']

In [28]:
df.isnull().sum()

id                                  0
age                                 0
hypertension                        0
heart_disease                       0
avg_glucose_level                   0
bmi                                 0
stroke                              0
glucose_log                       261
gender_Male                         0
gender_Other                        0
ever_married_Yes                    0
work_type_Never_worked              0
work_type_Private                   0
work_type_Self-employed             0
work_type_children                  0
Residence_type_Urban                0
smoking_status_formerly smoked      0
smoking_status_never smoked         0
smoking_status_smokes               0
age_risk                            0
bmi_obese                           0
hypertension_glucose              261
dtype: int64

In [27]:
df.head()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,glucose_log,gender_Male,gender_Other,...,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,age_risk,bmi_obese,hypertension_glucose
0,9046,1.051434,0,1,2.706375,1.005086,1,1.310054,True,False,...,True,False,False,True,True,False,False,0,0,0.000000
1,51676,0.786070,0,0,2.121559,-0.098981,1,1.138332,False,False,...,False,True,False,False,False,True,False,0,0,0.000000
2,31112,1.626390,0,1,-0.005028,0.472536,1,-0.005041,True,False,...,True,False,False,False,False,True,False,0,0,-0.000000
3,60182,0.255342,0,0,1.437358,0.719327,1,0.890915,False,False,...,True,False,False,True,False,False,True,0,0,0.000000
4,1665,1.582163,1,0,1.501184,-0.631531,1,0.916764,False,False,...,False,True,False,False,False,True,False,0,0,0.916764

In [29]:
print(df.shape)
print(df.info())

(5110, 22)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              5110 non-null   int64
 1   age                             5110 non-null   float64
 2   hypertension                    5110 non-null   int64
 3   heart_disease                   5110 non-null   int64
 4   avg_glucose_level               5110 non-null   float64
 5   bmi                             5110 non-null   float64
 6   stroke                          5110 non-null   int64
 7   glucose_log                     4849 non-null   float64
 8   gender_Male                     5110 non-null   bool
 9   gender_Other                    5110 non-null   bool
 10  ever_married_Yes                5110 non-null   bool
 11  work_type_Never_worked          5110 non-null   bool
 12  work_type_Private               5110 non-null   bool
 13  work_type_Self-employed         5110 non-null   bool
 14  work_type_children              5110 non-null   bool
 15  Residence_type_Urban            5110 non-null   bool
 16  smoking_status_formerly smoked  5110 non-null   bool
 17  smoking_status_never smoked     5110 non-null   bool
 18  smoking_status_smokes           5110 non-null   bool
 19  age_risk                        5110 non-null   int64
 20  bmi_obese                       5110 non-null   int64
 21  hypertension_glucose            4849 non-null   float64
dtypes: bool(11), float64(5), int64(6)
memory usage: 494.2 KB
None