In [1]:
import pandas as pd

In [2]:
data = {
    'Department': ['HR', 'IT', 'HR', 'IT', 'Finance', 'Finance', 'IT'],
    'Employee': ['Alice', 'Bob', 'Carol', 'Dave', 'Eve', 'Frank', 'Grace'],
    'Salary': [50000, 60000, 52000, 65000, 70000, 72000, 68000]
}

df = pd.DataFrame(data)
print(df)

  Department Employee  Salary
0         HR    Alice   50000
1         IT      Bob   60000
2         HR    Carol   52000
3         IT     Dave   65000
4    Finance      Eve   70000
5    Finance    Frank   72000
6         IT    Grace   68000

In [3]:
grouped = df.groupby('Department')
average_salary = grouped['Salary'].mean()
print(average_salary)

Department
Finance    71000.000000
HR         51000.000000
IT         64333.333333
Name: Salary, dtype: float64

In [4]:
#applying multiple aggregations
summary = grouped['Salary'].agg(['mean', 'min', 'max', 'count']) 
print(summary)

                    mean    min    max  count
Department
Finance     71000.000000  70000  72000      2
HR          51000.000000  50000  52000      2
IT          64333.333333  60000  68000      3

In [5]:
#grouping by multiple columns
data = {
    'Department': ['HR', 'IT', 'HR', 'IT', 'Finance', 'Finance', 'IT'],
    'Role': ['Manager', 'Analyst', 'Analyst', 'Manager', 'Analyst', 'Manager', 'Analyst'],
    'Employee': ['Alice', 'Bob', 'Carol', 'Dave', 'Eve', 'Frank', 'Grace'],
    'Salary': [50000, 60000, 52000, 65000, 70000, 72000, 68000]
}

df = pd.DataFrame(data)

#Grouping by Department and role
grouped = df.groupby(['Department', 'Role'])['Salary'].mean() 
print(grouped)

Department  Role
Finance     Analyst    70000.0
            Manager    72000.0
HR          Analyst    52000.0
            Manager    50000.0
IT          Analyst    64000.0
            Manager    65000.0
Name: Salary, dtype: float64

In [7]:
#Custom range function
def salary_range(series):
    return series.max - series.min()

#range_by_dept = df.groupby('Department')['Salary'].agg(salary_range)
#print(range_by_dept)

In [9]:
data = {
    'Region': ['East', 'West', 'East', 'West', 'East', 'West', 'East', 'West'],
    'Product': ['Apples', 'Apples', 'Bananas', 'Bananas', 'Apples', 'Bananas', 'Bananas', 'Apples'],
    'Sales': [100, 120, 90, 110, 95, 105, 85, 130]
}

df = pd.DataFrame(data)
print(df)

pivot = pd.pivot_table(df,index='Region',columns='Product',values='Sales',aggfunc='sum',fill_value=0)
print(pivot)

  Region  Product  Sales
0   East   Apples    100
1   West   Apples    120
2   East  Bananas     90
3   West  Bananas    110
4   East   Apples     95
5   West  Bananas    105
6   East  Bananas     85
7   West   Apples    130
Product  Apples  Bananas
Region
East        195      175
West        250      215

In [13]:
survey_data = {
    'Gender': ['Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female'],
    'Response': ['Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'No']
}

survey_df = pd.DataFrame(survey_data)
#Cross tabulation of gender and response
cross = pd.crosstab(survey_df['Gender'],survey_df['Response'])
print(cross)
print(pd.crosstab(survey_df['Gender'], survey_df['Response'], margins=True))

Response  No  Yes
Gender
Female     2    2
Male       1    2
Response  No  Yes  All
Gender
Female     2    2    4
Male       1    2    3
All        3    4    7

In [14]:
pivot = pd.pivot_table(df, index='Region', columns='Product', values='Sales', aggfunc='mean') 
print(pivot.round(2))
pivot_reset = pivot.reset_index()

Product  Apples  Bananas
Region
East       97.5     87.5
West      125.0    107.5

In [20]:
# Customer information 
customers = pd.DataFrame({ 
    'CustomerID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'] 
})
# Orders data 
orders = pd.DataFrame({
    'OrderID': [101, 102, 103, 104], 
    'CustomerID': [1, 2, 2, 4], 
    'Amount': [250, 150, 100, 300] 
})
merged_df = pd.merge(orders, customers, on='CustomerID') 
print(merged_df)

   OrderID  CustomerID  Amount   Name
0      101           1     250  Alice
1      102           2     150    Bob
2      103           2     100    Bob
3      104           4     300  David

In [21]:
new_customers = pd.DataFrame({
    'CustomerID': [1, 2, 3, 4, 5],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve']
})

left_join = pd.merge(new_customers, orders, on='CustomerID', how='left')
inner_join = pd.merge(new_customers, orders, on='CustomerID', how='inner')
outer_join = pd.merge(new_customers, orders, on='CustomerID', how='outer')
print(left_join)
print(inner_join)
print(outer_join)

   CustomerID     Name  OrderID  Amount
0           1    Alice    101.0   250.0
1           2      Bob    102.0   150.0
2           2      Bob    103.0   100.0
3           3  Charlie      NaN     NaN
4           4    David    104.0   300.0
5           5      Eve      NaN     NaN
   CustomerID   Name  OrderID  Amount
0           1  Alice      101     250
1           2    Bob      102     150
2           2    Bob      103     100
3           4  David      104     300
   CustomerID     Name  OrderID  Amount
0           1    Alice    101.0   250.0
1           2      Bob    102.0   150.0
2           2      Bob    103.0   100.0
3           3  Charlie      NaN     NaN
4           4    David    104.0   300.0
5           5      Eve      NaN     NaN

In [23]:
df1 = pd.DataFrame({
    'ID': [1, 2],
    'Name': ['Alice', 'Bob']
})
df2 = pd.DataFrame({
    'ID': [1, 2],
    'Name': ['Product A', 'Product B']
})
merged = pd.merge(df1, df2, on='ID', suffixes=('_customer', '_product')) 
print(merged)

   ID Name_customer Name_product
0   1         Alice    Product A
1   2           Bob    Product B

In [24]:
df1 = pd.DataFrame({'Name': ['Alice', 'Bob']}, index=[1, 2])
df2 = pd.DataFrame({'Order': [101, 102]}, index=[1, 2])
joined = df1.join(df2)
print(joined)

    Name  Order
1  Alice    101
2    Bob    102

In [25]:
jan = pd.DataFrame({'Product': ['A', 'B'], 'Sales': [100, 150]})
feb = pd.DataFrame({'Product': ['A', 'B'], 'Sales': [120, 130]})
mar = pd.DataFrame({'Product': ['A', 'B'], 'Sales': [140, 160]})
combined = pd.concat([jan, feb, mar], ignore_index=True)
print(combined)

  Product  Sales
0       A    100
1       B    150
2       A    120
3       B    130
4       A    140
5       B    160

In [27]:
sales = pd.DataFrame({
    'Product': ['A', 'B'],
    'Jan': [100, 150],
    'Feb': [120, 130],
    'Mar': [140, 160]
})

long_sales = pd.melt(sales, id_vars='Product', var_name='Month', value_name='Sales')
print(long_sales)

  Product Month  Sales
0       A   Jan    100
1       B   Jan    150
2       A   Feb    120
3       B   Feb    130
4       A   Mar    140
5       B   Mar    160

In [28]:
reshaped = long_sales.pivot(index='Product', columns='Month', values='Sales') 
print(reshaped)

multi = reshaped.stack() 
print(multi)
print(reshaped.unstack())

Month    Feb  Jan  Mar
Product
A        120  100  140
B        130  150  160
Product  Month
A        Feb      120
         Jan      100
         Mar      140
B        Feb      130
         Jan      150
         Mar      160
dtype: int64
Month  Product
Feb    A          120
       B          130
Jan    A          100
       B          150
Mar    A          140
       B          160
dtype: int64